# Configurações do PostgreSQL
DATABASE_HOST=postgres_classification
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=mysecretpassword
DATABASE_NAME=classificationdb

# Configurações do Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redispassword  # Se o Redis não tiver senha, pode deixar em branco
# REDIS_USER=default  # Apenas se você estiver usando Redis ACLs

# Configurações do RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=rabbitmq
RABBITMQ_DEFAULT_PASS=rabbitmq

# Configurações gerais do serviço
PORT=3001  # Porta onde o serviço irá escutar
USER=serviceUser  # Usuário para lógica interna ou administrativa
PASSWORD=servicePassword  # Senha para lógica interna ou conexão com outros serviços
SERVICE_NAME=AuthService
NODE_ENV=development  # ou 'production'
LOG_LEVEL=info  # Nível de log para a aplicação
